h1{
    margin-left: 483px;
}

table:not(#moviePoster, #ageImg){
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
}

#moviePoster{
    position: relative;
    width: 80px;
    height: 100px;
    float: left;
}

#ageImg{
    position: absolute;
}

.title{
    text-align: left;
    line-height: 95px;
}